@model ProyectoFinalP1.Models.Sucursale

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la sucursal</h1>

<div>
    <h4>Sucursale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
</div>

<hr />

<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdSucursal">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Volver a la lista</a> 
</div>
