@model IEnumerable<ProyectoFinalP1.Models.Vendedore>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendedores</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear nuevo vendedor</a>
</p>


<!-- Se elimina el metodo si no se quiere ver la busqueda en el URL -->
<form asp-controller="Vendedores" asp-action="Index" method="get" class="search-form">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" /> |
        <input type="submit" name="Buscar" class="btn btn-sm btn-outline-dark" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.IdVendedor">Editar</a> |
                    <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.IdVendedor">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.IdVendedor">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
